[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "gemini-claude-proxy"]
	path = gemini-claude-proxy
	url = https://github.com/coffeegrind123/gemini-for-claude-code.git
[submodule "claude-code-proxy"]
	path = claude-code-proxy
	url = https://github.com/fuergaosi233/claude-code-proxy.git
[submodule "mac-utils"]
	path = mac-utils
	url = https://github.com/alin23/mac-utils.git
